
---
import Layout from "../components/Layout.astro";

export const prerender = false;
---

<Layout title="Disclaimer">
  {
        <>
          <h1 class="mb-8 text-4xl font-bold">
            Notice of Non-Affiliation and Disclaimer
          </h1>
          <p>
            MinuteThems is not affiliated, associated, authorized, endorsed by, maintained, or sponsored or in any way by any government, non-profit, private, or for-profit organization or any of their subsidiaries or their affiliates. All product and company names are the registered trademarks of their original owners. The use of any trade name or trademark is for identification and reference purposes only and does not imply any association with the trademark holder of their product brands.
          </p>
        </>
  }
</Layout>
